@model IEnumerable<OnlineShopping.Models.product>

@{
    ViewBag.Title = "AddCart";
}

<h2>AddCart</h2>

<p>
    @Html.ActionLink("Back to Catalog", "Catalog")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>       
    </tr>
}

</table>
@Html.ActionLink("Confirm Order", "ConfirmOrder")
