@model OnlineShopping.Models.product

@{

    ViewBag.Title = "AddCart";
    List<OnlineShopping.Models.product> productList = (List<OnlineShopping.Models.product>)Session["cart"];
}

<h2>AddCart</h2>
<br />
<p>
    @Html.ActionLink("Back to Catalog", "Catalog")
</p>
<br />
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price (RM)
        </th>
        <th></th>
    </tr>

    @foreach (var item in productList)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteCart", new { id = item.productID })
        </td>
    </tr>
    }

</table>

@Html.ActionLink("Confirm Order", "ConfirmOrder")
