@model IEnumerable<OnlineShopping.Models.product>

@{
    ViewBag.Title = "AddCart";
}

<h2>AddCart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shopOwner.userID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shopOwner.userID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
