@model IEnumerable<OnlineShopping.Models.product>

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>            
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price (RM)
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>      
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productQuantity)
                </td>
                <td>
                    @Html.ActionLink("Add to cart", "AddCart", new { id = item.productID })
                </td>
            </tr>
        }
        </table>
}
