@model IEnumerable<OnlineShopping.Models.user>

@{
    ViewBag.Title = "ManageOwner";
}

<h2>ManageOwner</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
                @Html.ActionLink("Details", "Details", new { id = item.userID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.userID })
            </td>
        </tr>
    }

</table>
